.test {
  .word {
    font-size: 20px;
    margin: 5px;
    padding-left: 2px;
  }
  .blinkerChar-right {
    border-left: 2px solid red;
    animation: blincking-right 2s linear infinite;
  }

  @keyframes blincking-right {
    0% {
      border-right-color: red;
    }
    25% {
      border-right-color: red;
    }
    50% {
      border-right-color: blue;
    }
    75% {
      border-right-color: blue;
    }
    100% {
      border-right-color: red;
    }
  }
  box-shadow: 0px 0px 100px;
  @media (max-width: 500px) {
  }
}
